<h1>Mój profil</h1>

<form method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input
            type="email"
            name="email"
            value="<%= form.email %>"
            class="form-control <%- errors?.email ? 'is-invalid' : '' %>"
            required 
        >
        <% if(errors?.email) { %>
            <div class="invalid-feedback"><%= errors.email.message %></div>
        <% } %>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Hasło</label>
        <input
            type="password"
            name="password"
            value="<%= form.password %>"
            class="form-control <%- errors?.password ? 'is-invalid' : '' %>"
        >
        <% if(errors?.password) { %>
            <div class="invalid-feedback"><%= errors.password.message %></div>
        <% } %>
    </div>
    
    <button class="btn btn-primary">Zapisz</button>
</form>

<% if(errors) { %>
    <div class="alert alert-danger mt-3">
        Popraw dane w formularzu
    </div>
<% } %>